.body {
    margin: 0 auto;
}
/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }
  
  /* Navigation bar */
  
  /* General */
  .customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 65px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation dropdown menu */
  .dropdown-menu {
    background: url("../images/transparency.png");
    background-color:#DAE2E8 !important;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: #16181b;
      text-decoration: none;
      background: #AEC5D1;
  }
  
  /* Navigation links */
  .customNav a {
    color: white !important;
  }
  .navCTA {
    font-size: 15px;
  }

  /* Jumbotron  */
.jumbotron {
    background-image: url(../images/KBYG\ multiscreen.png);
    background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: #203B31;
    text-align: left;
    text-transform: bold;
  }

  /* Overview */
.Overview {
    padding: 20px;
    display: flexbox;
}
.role {
    width: 635px;
    padding: 20 0 20 0;
}
.quote{
    text-align: center;
    justify-content: center;
    font-weight:  bold;
    margin-top: 200px;
}
.why {
    width: 813px;
    padding: 20px;
    font-weight: normal;
}


 /* Problem */

 .Problem {
     padding: 20px;
     display: flexbox;
     margin-top: 150px;
 }

.Problem img {
    margin-top: 75px;
}
 /* Problem */

 .Research {
     padding: 20px;
 }
  /* Cards */
.content {
    padding: 50px;
  }
  .sectionHeading {
    text-align: center;
  }
  .showsNear  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }
  